{% extends 'base.html' %}

{% block title %}
Добавление новости
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}
{% block content %}

<h1>Добавление новости</h1>


<form action="{% url 'add_news' %}" enctype="multipart/form-data" method='post'>

    {% csrf_token %}
    {{ form.as_p }}


    <button type="submit" class="btn btn-primary btn-block">Добавить новость</button>
</form>
{% endblock %}