{% extends 'base.html' %}

{% block title %}
{{ category.title }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

{% for item in news %}
<div class="card mb-3">
    <div class="card-header">
        Категория: <a href="{% url 'category' item.category.pk %}">{{ item.category }}</a>
        <div class="card-body">
            <div class="media">
                <div class="media-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.content|truncatewords:50 }}</p>
                    <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Читать далее...</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        {{ item.created_at|date:'Y-m-d H:i' }}
    </div>
</div>
{% endfor %}
{% endblock %}
