{% extends 'base.html' %}
{% block title %}
{{ title }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}
{% block content %}
{% for item in news %}
<div class="card mb-3">
    <div class="card-header">
        Категория: <a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a>
        {% if user.is_superuser %}
        <a href="{% url 'delete_news' item.id %}">
            <button onclick="return confirm('Вы уверены, что хотите удалить эту новость?')" type="button"
                    class="btn btn-danger" style="float:right">Удалить
            </button>
        </a>
        {% endif %}
        <div class="card-body">
            <div class="media">
                <div class="media-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.content|truncatewords:50|safe }}</p>
                    {% if item.photo %}
                    <p><img width="50%" height="50%" src="{{ item.photo.url }}"></p>
                    {% endif %}
                    <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Читать далее...</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        {{ item.created_at|date:'Y-m-d H:i' }}
        <a>Просмотров записи: <span class="badge bg-primary rounded-pill">{{ item.views }}</span></a>
        {% for i in comment %}
        {% if item == i %}
        <a href="{{ item.get_absolute_url }}#reviews" style="float:right">Комментарии: {{ i.comments_count }}</a>
        {% endif %}
        {% endfor %}
        {% if item.rating %}
        <br><a>Рейтинг: <b>{{ item.rating }}</b></a></br>
        {% else %}
        <br><a>Рейтинг: <b>эту новость ещё никто не оценил :(</b></a></br>
        {% endif %}
        {% if item.author %}
        Автор новости: <b>{{ item.author }}</b>
        {% else %}
        <b>Данную новость создали внеземные существа!</b>
        {% endif %}
    </div>
</div>

{% endfor %}
{% endblock %}
