{% extends 'base.html' %}

{% block title %}
Авторизация
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}
{% block content %}

<h1>Авторизация</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-block">Авторизироваться</button>
</form>

{% endblock %}