{% extends 'base.html' %}

{% block title %}
{{ object.title }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}
{% block content %}
<div class="card mb-3">
    <div class="card-header">
        Категория: <a href="{{ object.category.get_absolute_url }}">{{ object.category }}</a>
        {% if object.author == request.user or user.is_superuser %}
        <a href="{% url 'delete_news' object.id %}">
            <button onclick="return confirm('Вы уверены, что хотите удалить этот анекдот?')" type="button"
                    class="btn btn-danger" style="float:right">Удалить
            </button>
        </a>
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ object.title }}</h5>
            <p class="card-text">{{ object.content|safe }}</p>
            {% if object.photo %}
            <p><img width="65%" src="{{ object.photo.url }}"></p>
            {% endif %}
        </div>
    </div>
    <div class="card-footer text-muted">
        {{ object.created_at|date:'Y-m-d H:i' }}
        <a>Просмотров записи: <span class="badge bg-primary rounded-pill">{{ object.views }}</span></a>
        <form action="{% url 'add_rating' %}" method="post" name="rating">
            <a>Рейтинг:</a>
            {% csrf_token %}
            <input type="hidden" value="{{ object.id }}" name="news">
            <span class="rating">
                {% for k,v in star_form.fields.star.choices %}
                    <input id="rating{{ v }}" type="radio" name="star" value="{{ k }}">
                    <label for="rating{{ v }}">{{ k }}</label>
                {% endfor %}
            </span>
        </form>
        {% if object.author %}
        Автор новости: <b>{{ object.author }}</b>
        {% else %}
        <b>Данную новость создали внеземные существа!</b>
        {% endif %}
    </div>
</div>
<div class="card mb-3">
    <div class="card-header">
        <div class="contact-single">
            {% if request.user.is_authenticated %}
            <h3><a name="reviews"> Оставить комментарий </a></h3>
            <form action="{% url 'add_rewiew' object.id %}" method="post" class="mt-2">
                {% csrf_token %}
                <div class="mb-2">
                    <label for="inputmessage">Комментарий</label>
                    <textarea class="form-control mt-1"
                              id="message"
                              name="text"
                              placeholder="Напишите сюда :)"
                              rows="4"></textarea>
                </div>
                <button type="submit" class="mt-3 btn btn-success btn-block px-3">Отправить</button>
            </form>
            {% else %}
            <a href="{% url 'login' %}">Войдите</a> или <a href="{% url 'register' %}">зарегистрируйтесь</a>,
            что бы оставлять комментарии!
            {% endif %}
        </div>
        <hr>
        <div class="media py-3">
            {% for review in object.reviews_n.all %}
            <h5 class="mt-2 editContent">{{ review.name }}</h5>
            {% if review.name == request.user or user.is_superuser %}
            <a href="{% url 'delete_reviews' review.id %}">
                <button onclick="return confirm('Вы уверены, что хотите удалить этот комментарий?')" type="button"
                        class="btn btn-outline-danger" style="float:right">
                    Удалить
                </button>
            </a>
            {% endif %}
            <p class="mt-2 editContent">
                {{ review.text }}
            </p>
            {{ review.created_reviews|date:'Y-m-d H:i' }}
            <hr>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
