#header, .module h2, .module caption, .inline-group h2 {
    background: #90a4ae;
    color: #fff;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #fff;
}
div.breadcrumbs{
    background: #263238
}
